<div class="p-3 bg-gray-100 h-full">
  <div class="bg-white p-3 w-full space-y-4">
    <a routerLink="/" class="text-2xl w-min" href="/">&lt;-</a>
    <div class="flex justify-between">
      <p>{{ account?.label }}</p>
      <p class="text-2xl font-bold">{{ account?.balance }} €</p>
    </div>
    <div class="flex flex-col">
      <p>Id</p>
      <a (click)="copyToClipboard(account?.id)" class="cursor-pointer text-blue-500">{{ account?.id }}</a>
    </div>
    <div class="mt-5">
      <p>Opened at</p>
      <a (click)="copyToClipboard(account?.id)" class="cursor-pointer text-blue-500">{{ account?.openAt | date:'dd/MM/yyyy' }}</a>
    </div>
  </div>
</div>
